<nav>
  <LinkTo @route="statement-upload">Upload a statement to visualize</LinkTo>
  {{#if session.isAuthenticated}}
    <button {{action "invalidateSession"}}>Logout</button>
  {{else if notOnLoginRoute}}
    <button {{action "login"}}>Login</button>
  {{/if}}
</nav>
{{outlet}}
